* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 251, 253);
  margin: 0;
}

.main-container {
  display: flex;
  height: auto;
}

@page {
  margin: 1rem;
}

@media print {
  .quill .ql-editor {
    width: 6.5in;
    min-height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
    border: none;
  }

  .quill .ql-toolbar.ql-snow {
    display: none;
  }
}
